/*   
Theme Name: Trixigt Showcase Theme
Theme URI: http://themeid.com/responsive-theme
Description: Responsive Child Theme
Author: Linnea Amsen
Author URI: http://www.linneaamsen.se
Template: responsive
Version: 1.0
*/

/* Import Responsive Styles */
@import url('../responsive/style.css');

/* =Headings 
-------------------------------------------------------------- */
.excerpt-entry h1 {
	font-size:1.4em;
}

/* =Global Base
-------------------------------------------------------------- */

#header {
	margin-top: 1em;
}

body {	
	background:#efefef url(images/diam.png) repeat;
	color:#404040;
}

#container{
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(256, 256, 256);
	/* RGBa with 0.4 opacity */
	background: rgba(256, 256, 256, 0.4);
	-webkit-border-radius:4px;
    -moz-border-radius:4px;
	border-radius: 4px;
}

#wrapper {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border:none;	
	background-color: transparent;
	background: rgba(255, 255, 255, 0.3); 
	background-image: none;
}

/* =Global Styling
-------------------------------------------------------------- */
.centering{
	margin-left:auto;
	margin-right: auto;
	text-align: center;
}

.white-text{
	color: #fff;
}


/* =Links
-------------------------------------------------------------- */
a {
	color: #300;
	font-weight:400;
	text-decoration:none;
}

a:hover img{
	color:#0CC;
	text-decoration:none;	
	opacity:0.6;
}

#logo a:hover img{
	opacity: 100;
}

/* =Post Thumbnails 
-------------------------------------------------------------- */
img.wp-post-image, img.attachment-thumbnail, img.attachment-medium, img.attachment-large, img.attachment-full {
	display: inline;
	float:left;
	margin-right:1em;
	margin-top: 0;
	margin-bottom: 1.5em;
}

/* =Top Menu
-------------------------------------------------------------- */

.top-menu li {
	display:inline;
	list-style-type:none;
}

.top-menu li a {
	border-left:1px solid #ccc;
	color: #000;
	font-size:12px;
	padding: 0 8px;
}

.top-menu > li:first-child > a {
	border-left:none;
	padding:0 8px 0 0;
}

.top-menu li a:hover {
	color:#333;
}


/* =Primary Menu
-------------------------------------------------------------- */
.menu a { 
	font-family: 'Source Sans Pro', arial, san-serif; 
	font-size: 20px; 
	font-weight: 700; 
}

.breadcrumb-list { 
	font-family: 'News Cycle', arial, san-serif; 
	font-size: 14px; 
}

.menu {
	background-color:none;
	background-image: none;
	background: rgba(255, 255, 255, 0); 
	border:none;
	border-top: solid 1px #3CC;
	border-bottom: double 3px #3CC;
	clear:both;
    	filter:none;
	margin:0 auto;
}

.menu ul li a:hover, .menu li li a:hover {
	color:#484848;
	text-decoration:none;
}

.menu a {
	border-left:none;
	color: #333;
	font-size:13px;
	font-weight:700;
	height:45px;
	line-height:45px;
	text-shadow:none;
}

.menu a:hover {
	color: #066;
	background-image:none;
	background-color: transparent;
    filter:none;
	
}
.current-menu-item a, .current-menu-item, .menu .current_page_item a, .current-post-parent { 
	margin-top: 2%; 
	background: rgba(0, 0, 0, 0.1) !important; 
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
}



.menu li li {
	background:#fff;
	background-image:none;
	border:1px solid #b2b2b2;
	border-top:none;
	color:#444;
	filter:none;
	width:auto;
}

.tinynav {
	font-weight: 700;
}

#menu-sub-head .current_page_item a{ 
	background-color: transparent !important;
	color: fff;
}




/* =Paging menu
-------------------------------------------------------------- */
.previous a,
.next a{
	font-size: 1.4em;
	color: #000;	
}

.previous a:hover,
.next a:hover{
	color: #999;	
}

/* =Bottom menu
-------------------------------------------------------------- */
#homebottom-nav{ 
	text-align: center;
}

#homebottom-nav .current-menu-item a {
	border-top-left-radius: 0px; 
	border-top-right-radius: 0px;
}

#homebottom-nav li{ 
	display: inline; 
	list-style-type: none; 
	padding-bottom: 10px;
}

#homebottom-nav a{ 
	background-color: #000; 
	color: #FFF; 
	padding: 5px; 
	margin: 5px;
}



/* =Posts
-------------------------------------------------------------- */
#content-archive { 
	margin-top: 2%;
}
#content-blog{ 
	margin-top: 2%;
}

.post {
	background: rgba(255, 255, 255, 0.3); 
	padding: 2%;
	margin-top: 2%;
}

.post-meta {
	clear: none;
	color:#9f9f9f;
	font-size:12px;
	margin-bottom:10px;
}

.post-data {
	float: right;
	background-color: #CCC;
	margin-top: 0;
}

.read-more {
	clear:none;
	font-weight: none;
	display: none;/*OBS fulkodat bort, måste egentligen skriva över i functions för att ta bort helt!*/	
}

.post-entry {
	clear:both;	
}

.excerpt-entry {
	border-bottom: #CCC 1px solid;		
}

.updated {
	display:none;
}

/* =About Page
-------------------------------------------------------------- */
#widget-aboutPic, #widget-contactPic { 
	margin-top: 5%; 
	text-align: center;
}
.about-post-entry { 
	padding-right: 10%;
} 




/* =Contact Page
-------------------------------------------------------------- */

.page-id-179 #wrapper {

	background:url(http://trixigt.com/wp-content/uploads/Contact_Pic_Composition.jpg) center;

	background-size:1080px;
	min-height:600px;

}

#contact-content-full{

}

.contact-post-entry p{
	font-size: 1.5em;
	color: #fff;
}

.contact-post-entry h1{
	font-size: 2.5em;
	color: #ccc;
	text-shadow: -1px -1px 0px rgba(0,0,0, 0.5), 0px 1px 0px rgba(256,256,256, 0.9); /* 50% black coming from the top */
}

#business-card{
	margin-top: 4%;
	margin-bottom: 8%;
	padding: 1%;
	max-width: 400px;
	border-radius: 4px;

	background: rgb(76,76,76); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRjNGM0YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIzJSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ5JSIgc3RvcC1jb2xvcj0iIzQ3NDc0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyYzJjMmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(76,76,76,1) 0%, rgba(89,89,89,1) 23%, rgba(71,71,71,1) 49%, rgba(44,44,44,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(23%,rgba(89,89,89,1)), color-stop(49%,rgba(71,71,71,1)), color-stop(100%,rgba(44,44,44,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 23%,rgba(71,71,71,1) 49%,rgba(44,44,44,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 23%,rgba(71,71,71,1) 49%,rgba(44,44,44,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 23%,rgba(71,71,71,1) 49%,rgba(44,44,44,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(76,76,76,1) 0%,rgba(89,89,89,1) 23%,rgba(71,71,71,1) 49%,rgba(44,44,44,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=0 ); /* IE6-8 */


}


#business-card-dots{
	background: url(http://trixigt.com/wp-content/uploads/dotsy_in1.png) repeat-x;
	height: 15px;
	width: 100%;
}


/* Darker text on medium background */
.business-card-engrave{
	color: #000;	
	text-shadow: 0px 1px 0px rgba(50,50,50,0.9);
}

#business-card 
{
	position: relative;
	width: 60%;
	-moz-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 0px 7px 1px -7px #fff; 
}


#business-card:before, #business-card:after 
{
  	z-index: -1; 
  	position: absolute; 
  	content: "";
  	bottom: 15px;
 	 left: 10px;
  	width: 90%; 
  	top: 80%;
  	max-width:300px; 
  	-webkit-box-shadow: 0 15px 10px rgb(0, 0, 0);
  	-moz-box-shadow: 0 15px 10px rgb(0, 0, 0);
  	box-shadow: 0px 20px 10px rgb(0, 0, 0);
  	-webkit-transform: rotate(-3deg);    
  	-moz-transform: rotate(-3deg);   
  	-o-transform: rotate(-3deg);
  	-ms-transform: rotate(-3deg);
  	transform: rotate(-3deg);
}

#business-card:after 
{
  	-webkit-transform: rotate(3deg);
  	-moz-transform: rotate(3deg);
  	-o-transform: rotate(3deg);
  	-ms-transform: rotate(3deg);
  	transform: rotate(3deg);
  	right: 10px;
  	left: auto;
}

/* =Widgets
-------------------------------------------------------------- */
.widget-wrapper {
	-webkit-border-radius:0px;
    -moz-border-radius:0px;
	background-color: transparent;
	background: rgba(256, 256, 256, 0.3);
	background-image:;
	border:1px solid #d6d6d6;
	border-radius:0px;
	font-size:13px;
	margin:0 0 20px;
	padding:0px;
}

#widgets ul li {
	margin-left:0px;
	list-style-type:none;
}

.widget-title {
	color: #333;
	background-color: transparent;
	/*background: rgba(0, 204, 204, 0.3); */
	padding: 5px 10px 6px 5px;
	margin-bottom: 5px;
	
}

#widgets a {
	display:inline-block;
	margin:0;
	padding:0;
	text-decoration:none;
}

.widget-wrapper-featured p { 
	margin: 0;
}

.widget-wrapper-featured a img { 
	margin-bottom: 0;
}

#widgets { margin-top: 3%;}

/* Widget Tag Cloud */
.ctc-tag-cloud { 
	margin-left: 0;
}

.ctc li { 
	border-bottom: #0CC 1px dotted;
}

.ctc h3 {
	margin: 0; 
	padding: 2%;
}

.ctc ul { 
	padding-right: 2%; 
	padding-left: 3%; 
	padding-bottom: 2%;
}

/* =HOME
-------------------------------------------------------------- */
.home #wrapper {
	margin-top: 0;
}

.widget-wrapper-top{
	margin-top: 1em;
	margin-bottom: 5%;
}

/* Home Featured Gallery */
.widget-wrapper-featured {
	max-width: 100%; margin-top: 10px; 
}

.widget-wrapper-featured a { 
	max-width: 100%;
}

.homeFeaturedAreaGallery .col-220 {
	margin-right:1%;
}

.homeFeaturedAreaGallery .col-220 {
	width:24.23%;
}

.bolder { 
	font-weight: 700;
}

.blue { 
	color: #366;
}

/* Widget Areas C1 */
.widget-wrapper-C1{ 
	padding-right: 2%; 
}

/* Video Widget*/
.fluid-width-video-wrapper{
	margin-top: 1em;
}

/*Visual page divider*/
.blackline { 
	background-color: #333; 
	height: 2px; 
	width: 98%; 
	margin-right: 1%; 
	margin-left: 1%;
}

/*Styling Widget wdg_specialrecentpostsfree2 and Widget home center 2*/
.srp-post-title { 
	margin-top: 1%;
}

.srp-widget-title h3{
	margin-top: 0;
} 

.widget-title-homeCenter, .srp-widget-title { 
	border-bottom: #666 1px solid; 
	margin-bottom: 2%;
	color: #000;
}

.widget-title-homeCenter h3 { 
	margin-top:0; margin-bottom: 2%;
}

/* Widget Easy Rotator ( slider widget )*/
#easyrotator_widget-2 { 
	border: solid 1px #CCC;  
	-moz-box-shadow: 1px 1px 5px #888;
	-webkit-box-shadow: 1px 1px 5px #888;
	box-shadow: 1px 1px 5px #888; 
}

/*Widget Text Widget*/
#text-2 h3 { 
	margin-top: 2%;
}

#text-3 h3 { 
	margin-top: 0; 
}

#text-3, #text-5 { 
	background-color: #FFF; 
	padding: 3px 10px 1px 10px; 
	background: rgba(255, 255, 255, 0.5); 
	-webkit-border-radius:6px;
   	-moz-border-radius:6px;
	border-radius: 6px;
}

#text-5 h3 {
	font-size: 1.3em;
	

}

/* Style Donation */

.donate {
	width: 99%;
	max-width:147px;
	text-align: center;
}

/* =Social Icons
-------------------------------------------------------------- */
.social-icons { padding-top: 2%;}

.topSocialIcons{ 
	text-align: center;
	float: right;
}

.topSocialIcons ul { 		
	list-style-type: none;
	margin-top: 1%;
	 }

.topSocialIcons ul li{ 
	display: inline;
	padding-right: 3px;
}
	
/* =Media Queries
-------------------------------------------------------------- */

@media screen and (max-width: 980px) {

    body {
    }
	
    .grid, 
	.grid-right {
	    float:left;
    }
	
	#featured-image .fluid-width-video-wrapper {
	    margin:20px 0 0 0;
    }
	
	.home #widgets {
		margin-top:40px;
	}
	
	/* Widget wdg_specialrecentpostsfree-2 */
	.srp-thumbnail-box { 
		width:35%;
	}
	.srp-thumbnail-box a { 
		width: 99%;
	}
	.srp-thumbnail-box a img { 
		width: 99%;
	}
	
	 
}

@media screen and (max-width: 820px) {
	.excerptTitle { 		  
		  float: none; 
		  clear:both; 
	}
}


@media screen and (max-width: 650px) {

    body {
    }

    #logo {
	    float:none;
	    text-align:center;
    }

    .grid, 
	.grid-right {
	    float:none;
    }

	#featured-image .fluid-width-video-wrapper {
	    margin:20px 0 0 0;
    }
	
    .js .menu,
	.js .sub-header-menu {
		display:none;
	}
	
	.top-menu, 
	.footer-menu li {
	    float:none;
	    text-align:center;
   	}
	
	.tinynav { 
	    display: block;
	    margin: 0 auto;
	    width: 100%;
	}
	
	.tinynav {
	    -moz-appearance: none !important;
	    -webkit-appearance: none !important;
	    appearance: none !important;
	    background: #fff url(images/bg-select.png) no-repeat right;
	    border: 1px solid #ccc;
            font-size: 12px;
	    overflow: hidden;
	    padding: 0.5em 1em 0.5em 0.75em;
	}

	.ie7 .tinynav,.ie8 .tinynav {
	    padding-right: 10px;
	}
	
	.ie9 .tinynav  {
	    padding-right: 8px;
	}
	
   	 #footer {
	    text-align:center;
   	 }

   	 #footer .social-icons {
	    text-align:center;
   	 }
	
	/* Home Feature Gallery */
	#homeFeatureProjectsArea .col-220 { 
		float: left;
	}
	#homeFeatureTutorialsArea { 
		clear: left;
	}
	#homeFeatureTutorialsArea .col-220 { 
		float: left;
	}	
	#widget-home-center { 
		clear: left;
		padding-top: 20px;
	}	
	
	/* Social Icons*/
	.social-icons { 
		padding-bottom: 2%;
	}

	/*Contact*/
	.contact-post-entry p{
	font-size: 1em;
	color: #fff;
	}

	.contact-post-entry h1{
	font-size: 1.5em;
	color: #fff;
	}
	
}


@media screen and (max-width: 480px) {

    body {
    }
	
    table, thead, tbody, th, td, tr { 
	    display:block; 
	}

    #logo {
	    float:none;
		position:relative;
	    text-align:center;
    }

    .grid, 
	.grid-right {
	    float:none;
    }
	
	#featured-image .fluid-width-video-wrapper {
	    margin:20px 0 0 0;
	}
	
	.featured-title {
	    font-size:40px;
	    padding:40px 20px 0 20px
    }
	
    .menu ul, 
	.menu li, 
	.top-menu, 
	.footer-menu li, 
	.sub-header-menu li {
	    float:none;
	    text-align:center;
    }
	
    #footer {
	    text-align:center;
    }

    #footer .social-icons {
	    text-align:center;
    }
	
	/* Home feature gallery area, appearing 2 side by side */
	#homeFeatureProjectsArea .col-220, #homeFeatureTutorialsArea .col-220 { 
		float: left; 
		width: 34%;
	}
	
	#homeFeatureTutorialsArea, #homeFeatureProjectsArea { 
		padding-left: 13%;
	}
	
	#homeFeatureTutorialsArea { 
		clear: both;
	} 
	
	#homeSlider { 
		margin-bottom: 15%;
	}
	
	#homebottom-nav{ 
		text-align: center;
	}
	
	#homebottom-nav li{ 
		display: block;
		list-style-type: none;
		padding-right: 20px;
	}
	
	/*Contact*/
	.contact-post-entry p{
	font-size: 0.9em;
	color: #fff;
	}

	.contact-post-entry h1{
	font-size: 1em;
	color: #fff;
	}	
	
	#business-card 
	{
	width: 70%;
	}		
}

@media screen and (max-width: 450px) {

/* Widget Recent Posts; The thumbnail box*/
	div.srp-thumbnail-box {
	  display: block !important;
	  vertical-align: top !important;
	  padding-right: 10px !important;
	  text-align: center;
	 }
	
	div.srp-widget-singlepost !important{
		padding-left: 20%;
	}
	
	/* Widget Recent Posts; The content box. */
	div.srp-content-box {
		display: block !important;
		vertical-align: top !important;
		padding-right: 10px !important;
		padding-top: 10px;
		
	}
}

@media screen and (max-width: 390px){
	.srp-thumbnail-box { 
	width:99%;
	}
	.srp-thumbnail-box a { 
	width: 99%;
	}
	.srp-thumbnail-box a img { 
	width: 80%;
	}
	
	/* The thumbnail box. Use this if update deletes this in the plugin css-file*/
	/*div.srp-thumbnail-box {
	  display: block !important;
	  vertical-align: top !important;
	  padding-right: 10px !important;
	  text-align: center;
	 }
	
	div.srp-widget-singlepost !important{
		padding-left: 20%;
	}*/
	
	/* The thumbnail box. */
	/*div.srp-content-box {
		display: block !important;
		vertical-align: top !important;
		padding-right: 10px !important;
		padding-top: 10px;
		
	}
	*/
	
	div.srp-content-box p { 
		text-align: left; 
	}
	
	#homeFeatureProjectsArea .col-220, #homeFeatureTutorialsArea .col-220 { 		 
		width: 99%;
		text-align: center;
	}
	
	.widget-wrapper-featured { 
		text-align: center;
		padding-top: 10px;
	}
	
	#homeFeatureTutorialsArea, #homeFeatureProjectsArea { 
		padding-left: 1%;
	}
	
	
}

@media screen and (max-width: 320px) {
	
	#featured p {
	    font-size:12px;
		line-height:1.2em;
    }

    .featured-title {
	    font-size:35px;
    }
	
	.featured-subtitle {
		font-size:15px;
	}

    .call-to-action a.button {
	    font-size:14px;
	    padding:7px 17px;
    }
	
	/* Styling "Home Gallery" */
	#homeFeatureProjectsArea .col-220, #homeFeatureTutorialsArea .col-220 { 
		float: none; 
		clear:both; 
		width: 100%;
	}	
	
	/* Social Icons Top */
	.topSocialIcons{ 
		text-align: center;
		float: none;
	}
		
}

@media screen and (max-width: 240px) {
	
	#featured p {
	    font-size:11px;
		line-height:1.1em;
    }

    .featured-title {
	    font-size:20px;
    }
	
	.featured-subtitle {
		font-size:11px;
	}

    .call-to-action a.button {
	    font-size:12px;
	    padding:5px 15px;
    }
	
}